.App {
  text-align: center;
}

.sidebar {
  width: 250px;
  background: #41424b ;
  color: white;
  min-height: calc(100vh - 56px);
  padding: 20px;
  box-shadow: 2px 0 10px rgba(51, 52, 59, 0.2);
  position: fixed;
  top: 56px;
  left: 0;
  overflow-y: auto;
}

.content-wrapper {
  padding: 20px;
  background-color: #48547C;
  min-height: calc(100vh - 56px);
  margin-left: 250px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link-sidebar {
  color: white !important;
  padding: 12px 15px;
  margin: 5px 0;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-link-sidebar:hover {
  background-color: rgba(146, 170, 209, 0.3);
  transform: translateX(5px);
}

.nav-link-sidebar.active {
  background-color: rgba(146, 170, 209, 0.4);
}

.nav-link-sidebar i {
  margin-right: 10px;
  width: 20px;
}